div. nav { 
backgroung-color: skyblue;
boarder-style: solid;
text-decoration: none;
text-decoration-color: maroon;
}
div. nav-tag: hover { color: green;  
}
div. nav-tag {
  background-color: blue;
}
